<ion-view view-title="About Us" cache-view="false">
  <ion-content class="Home Aboutus" ng-hide="!returnaboutData()">
    
            <div class="banner">
                <img ng-src="{{returnaboutData().banner[0]}}">
                <h2>{{returnaboutData().text_banner[0]}}</h2>
            </div>
      

    <div class="row" style="padding:0px" >
		<div class="ionTabs" id="tabs_2" data-name="Tabs_Group_name">
		    <ul class="ionTabs__head">
		        <li class="ionTabs__tab landscape-tab" data-target="Tab_1_name">{{returnaboutData().title_1[0]}}</li>
		        <li class="ionTabs__tab landscape-tab" data-target="Tab_2_name">{{returnaboutData().title_left[0]+" & "+returnaboutData().title_right[0]}}</li>
		        <li class="ionTabs__tab landscape-tab" data-target="Tab_3_name">{{returnaboutData().title_4[0]}}</li>
		    </ul>
		    <div class="ionTabs__body">
		        <div class="ionTabs__item tab-first" data-name="Tab_1_name">
		        	<h4>{{returnaboutData().title_1[0]}}</h4>
		            <div class="row" style="margin-bottom:50px;">
		            	
		            	<div class="col col-50">
		            		<div class="abt">
		            			<h3>{{returnaboutData().text_1[0]}}</h3>

								<a href="http://webportal.asia/16/01/craell/wp-content/uploads/2016/01/icon-3.png"><button class="button btn-craell"> Download Brochure </button></a>

		            		</div>
		            	</div>
		            	<div class="col col-10">
		            	</div>
		            	<div class="col">
		            		<div class="abt-aside">
		            			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centurLorem Ipsum is simply dummy text of the printing and.
									<br><br>
								Type setting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, ies, </p>
								
		            		</div>
		            	</div>
		            </div>

	            	<div class="abt-banner" style="background-image:url({{returnaboutData().image_2[0]}})">
	            		<h3>
							{{returnaboutData().text_2[0]}}
						</h3>

	            	</div>

	            	

		        </div><!-- First tab-->
		        <div class="ionTabs__item tab-first" data-name="Tab_2_name">
		           <h4>{{returnaboutData().title_left[0]+" & "+returnaboutData().title_right[0]}}</h4>
		            <div class="row" style="margin-bottom:50px;">
		            		<div class="mission-head">
		            			<h3>&ldquo;Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.&rdquo;</h3>
		            		</div>
		            </div>
		            	
		            	<div class="mission-vission">
		            		<div class="abt vission" style="background-image:url({{returnaboutData().image_left[0]}})">
		            			<div class="mission-txt">
		            				<h4>{{returnaboutData().title_left[0]}}</h4>
			            			<h3>{{returnaboutData().content_left[0]}}</h3>
		            			</div>
		            			
		            		</div>
		            		<div class="abt mission" style="background-image:url({{returnaboutData().image_right[0]}})">
		            			<div class="mission-txt">
		            				<h4>{{returnaboutData().title_right[0]}}</h4>
			            			<h3>{{returnaboutData().content_right[0]}}</h3>
		            			</div>
		            		</div>
		            	</div>

		        </div><!-- Second tab-->
		        <div class="ionTabs__item tab-first" data-name="Tab_3_name">
		            <h4>{{returnaboutData().title_4[0]}}</h4>
		            <div class="row">
		            	<div class="col" ng-repeat="items in returnsliderData() track by $index">
		            		<img ng-src="{{items.image}}"/>
		                    <div class="profile-name">
		                       <p>{{items.text}}</p>
		                       <span>{{items.name}}</span>
		                    </div>
		            	</div>

		            	
		            </div>
		            

		        <div class="ionTabs__preloader"></div>
		    
		</div><!-- Third tab-->
    </div><!--End of Tab-->
	<div class="abt-cont">
        <div class="abt-cont-1">
            <h3>
                {{returnfooterData().top_part.footer_top_text_1}}
            </h3>
            <p>{{returnfooterData().top_part.footer_top_text_2}}</p>
        </div>
    </div>
<!-- 
    ********************************************************************************
    Footer Area
    ********************************************************************************
-->
    <div class="footer about_footer">
        <div class="row row-center">
        	<div class="col col-25">
                <img ng-src="{{returnfooterData().top_part.footer_logo}}">
            </div>
            <div class="col">
                <p>{{returnfooterData().top_part.footer_logo_subtext}}</p>
            </div>
        </div>

        <div class="row row-center footer-bottom">
        	<div class="col">
        		<ul>
        			<li><b>ABOUT</b></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        		</ul>
        	</div>
        	<div class="col">
        		<ul>
        			<li><b>SERVICES</b></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        		</ul>
        	</div>
        	<div class="col">
        		<ul>
        			<li><b>RESOURCES</b></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        		</ul>
        	</div>
        	<div class="col">
                <ul>
                    <li><b>CONTACT US</b></li>
                    <li><span>Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></li>
                    <li>
                        <a href="" class="social-link"><img ng-src="img/linkin-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/google-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/twiter-w.png" alt=""></a>              
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-center">
        	<div class="col"><p>{{returnfooterData().last_part.copyright_text}}</p></div>
        </div>
    </div>

  </ion-content>
</ion-view>

