<ion-view view-title="Careers" cache-view="false">
  <ion-content class="Careers" ng-hide="!returncareersData()">

            <div class="banner">
                <img ng-src="{{returncareersData().banner[0]}}">

            </div>


    <div class="tab-first services">
        <div class="row">
            <div class="col col-50">
                <div class="abt cat" id="emailctrl">
                        <h3 style="color:#eb1f37;font-size:24px">{{returncareersData().left_title[0]}}</h3>
                       

                </div>
            </div>
            
            <div class="col cat-details cat" id="">
                <h3 style="color:#eb1f37; margin-left: 9px;">{{returncareersData().right_title[0]}}</h3>
                <div ng-repeat ="items in returnjobsArray() track by $index">
                    <div class="row">
                        <div class="col col-90">
                            <p >{{items.text}}</p>
                            <span > {{items.description}} </span>
                        </div>
                        <div class="col col-10">
                            <a href="{{items.link}}"><img src="img/arrow.png"></a>
                            
                        </div>
                    </div>
                    <hr style="width:95%;">
                </div>
                
                
                
                
            </div>

        </div>
    </div>
    <div class="abt-cont">
        <div class="abt-cont-1">
            <h3>
                {{returnfooterData().top_part.footer_top_text_1}}
            </h3>
            <p>{{returnfooterData().top_part.footer_top_text_2}}</p>
        </div>
    </div>
<!-- 
    ********************************************************************************
    Footer Area
    ********************************************************************************
-->
    <div class="footer about_footer">
        <div class="row row-center">
            <div class="col col-25">
                <img ng-src="{{returnfooterData().top_part.footer_logo}}">
            </div>
            <div class="col">
                <p>{{returnfooterData().top_part.footer_logo_subtext}}</p>
            </div>
        </div>

        <div class="row row-center footer-bottom">
            <div class="col">
                <ul>
                    <li><b>ABOUT</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>SERVICES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>RESOURCES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>CONTACT US</b></li>
                    <li><span>Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></li>
                    <li>
                        <a href="" class="social-link"><img ng-src="img/linkin-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/google-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/twiter-w.png" alt=""></a>              
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-center">
            <div class="col"><p>{{returnfooterData().last_part.copyright_text}}</p></div>
        </div>
    </div>
  </ion-content>
</ion-view>
