<ion-view view-title="Contact Us" cache-view="false">
  <ion-content class="Contactus" ng-hide="!returnrecontactusData()">

            <div class="banner">
                <img ng-src="{{returnrecontactusData().banner[0]}}">
                <h2>{{items.page_banner_text[0]}}</h2>
            </div>

    <div class="row" style="padding:0px">
		<div class="ionTabs" id="tabs_3" data-name="Tabs_Group_name">
		    <ul class="ionTabs__head">
		        <li class="ionTabs__tab" data-target="BENEFITS">CONTACT US</li>
		        <li class="ionTabs__tab" data-target="FEATURES">LOCATION</li>
		    </ul>
		    <div class="ionTabs__body">
		        <div class="ionTabs__item tab-first" data-name="BENEFITS">
		        	<h4>{{returnrecontactusData().title_left_contact[0]}}</h4>
		            <div class="row">
		            	<div class="col col-25">
		            		<div class="abt cat">
		            			
		            			<p>
									{{returnrecontactusData().content[0]}}
								</p>
		            		</div>
		            	</div>
		            	<div class="col col-10">
		            		
		            	</div>
		            	<div class="col col-25">
		            		<div class="abt cat" style="position: relative;right: 40px;">
		            			<p ng-bind-html="returnrecontactusData().telephone[0]">
								</p>
								<p>
									{{returnrecontactusData().email[0]}}
								</p>
		            		</div>
		            	</div>
		            	<div class="col">
		            		<div class="abt cat sam-m enquiry_field">
		            			<h4>{{returnrecontactusData().title_right_contact[0]}}</h4>
		            			<label class="item item-input">
								  <span class="input-label ">Name*</span>
								  <input type="text" ng-model="txt.name">
								</label>
								<label class="item item-input">
								  <span class="input-label">Email Address*</span>
								  <input type="email" ng-model="txt.email">
								</label>
								<label class="item item-input">
								  <span class="input-label">Contact Number*</span>
								  <input type="tel" ng-model="txt.contact">
								</label>
								<label class="item item-input">
								  <span class="input-label">Subject*</span>
								  <input type="text" ng-model="txt.subject">
								</label>
								<label class="item item-input" style="border:none;    background-color: transparent;">
								  <span class="input-label">Message*</span>
								</label>
								<textarea type="text" ng-model="txt.message"></textarea>
								<button class="button" ng-disabled="!(txt.name&&txt.email&&txt.contact&&txt.subject&&txt.message)" ng-click="sendMail(txt)">SEND</button>
		            		</div>
		            	</div>
		            </div>
		        </div>
		        <div class="ionTabs__item tab-first" data-name="FEATURES">
		        	<h4>{{returnrecontactusData().title_left[0]}}</h4>
		            <div class="row">
		            	<div class="col">
		            		<div class="abt cat">
		            			<h3 style="color:#eb1f37">
									OUR LOCATIONS</h3>
								<p>dummy text of the printing and typesetting</p>
		            		</div>
		            	</div>
		            	<div class="col accordian_div">
		            		<ion-list>
						        <div ng-repeat="group in groups">
						          <ion-item class="item-stable cat" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
						              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
						           
						            <p>{{group.name}}</p>
						          </ion-item>
						          <ion-item class="item-accordion contact-acordian" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
						            <div class="row">
						            	<div class="col col-50 cat contact_text">
						            		<p>{{item.location}}</p>
						            	</div>
						            	

						            	<div class="col cat">

						            				<p>{{item.contact}}</p>
		
						            				<p>{{item.email}}</p>
						            			
						            	</div>
						            </div>
						          </ion-item>
						        </div>
						    </ion-list>
		            	</div>
		            </div>
		        </div>

		        <div class="ionTabs__preloader"></div>
		    </div>
		</div>
    </div>

<!-- 
    ********************************************************************************
    Footer Area
    ********************************************************************************
-->
    <div class="footer about_footer">
        <div class="row row-center">
        	<div class="col col-25">
                <img ng-src="{{returnfooterData().top_part.footer_logo}}">
            </div>
            <div class="col">
                <p>{{returnfooterData().top_part.footer_logo_subtext}}</p>
            </div>
        </div>

        <div class="row row-center footer-bottom">
        	<div class="col">
        		<ul>
        			<li><b>ABOUT</b></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        		</ul>
        	</div>
        	<div class="col">
        		<ul>
        			<li><b>SERVICES</b></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        		</ul>
        	</div>
        	<div class="col">
        		<ul>
        			<li><b>RESOURCES</b></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        			<li><p>Lorem Ipsum is simply</p></li>
        		</ul>
        	</div>
        	<div class="col">
                <ul>
                    <li><b>CONTACT US</b></li>
                    <li><span>Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></li>
                    <li>
                        <a href="" class="social-link"><img ng-src="img/linkin-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/google-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/twiter-w.png" alt=""></a>              
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-center">
        	<div class="col"><p>{{returnfooterData().last_part.copyright_text}}</p></div>
        </div>
    </div>
  </ion-content>
</ion-view>
