<ion-view view-title="Home" cache-view="false">
  <ion-content class="Home Home-or" ng-hide="!returnhomeData()">
  
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider">
      <ion-slide ng-repeat = "items in returnsliderData() track by $index">
            <a href="{{items.link}}">
                <div class="banner">
                    <img ng-src="{{items.image}}">
                    <h2>{{items.text}}</h2>
                </div>
            </a>
      </ion-slide>
    </ion-slide-box>

    <div class="">
        <div class=" home-slide">
            <img class="slide-image" ng-src="{{returnhomeData().item_list_0_image[0]}}">
            <div class="products" style="background-image:url({{returnhomeData().item_list_0_image_bg[0]}})">
                <h3>{{returnhomeData().item_list_1_title[0]}}</h3>
                <p>{{returnhomeData().item_list_1_text[0]}}</p>
                <a href="{{returnhomeData().item_list_1_link[0]}}"><img src="img/arrow-w.png"></a>
            </div>
        </div>
        <div class="home-slide">
            <img class="slide-image" ng-src="{{returnhomeData().item_list_2_image[0]}}">
            <div class="products" style="background-image:url({{returnhomeData().item_list_2_image_bg[0]}})">
                <h3>{{returnhomeData().item_list_3_title[0]}}</h3>
                <p>{{returnhomeData().item_list_3_text[0]}}</p>
                <a href="{{returnhomeData().item_list_3_link[0]}}"><img src="img/arrow-w.png"></a>
            </div>
        </div>
        
    </div>  
           

    <!--ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider">
	  <ion-slide>
	    <div class="row">
	    	<div class="col col-50">
	    		<img class="slide-image" src="img/serve.png">
                <div class="products">
                    <h3>Our Services</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    <img src="img/arrow-w.png">
                </div>
	    	</div>
	    	<div class="col col-50">
                <img class="slide-image" src="img/prod.png">
                <div class="products">
                    <h3>Our Services</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    <img src="img/arrow-w.png">
                </div>
            </div>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box yellow"><h1>YELLOW</h1></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box pink"><h1>PINK</h1></div>
	  </ion-slide>
	</ion-slide-box-->

	<div class="find_more">
		<h3>{{returnhomeData().big_text[0]}}</h3>
		<p>{{returnhomeData().small_text[0]}}</p>
		<a href="{{returnhomeData().button_link[0]}}"><p style="margin-bottom:0px">{{returnhomeData().button_text[0]}}</p></a>
	</div>

	<div class="full_image" style="background-image:url({{returnhomeData().image_3[0]}})">
        <h3>{{returnhomeData().text_3[0]}}</h3>
	</div>

	<div class="our_services">
		<div class="row">
			<div class="col text-center cat">
				<h4>{{returnhomeData().title_4[0]}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col cat" style="padding: 10px" ng-repeat="items in returnProductData()">
				<h3>{{items.title}}</h3>
                <div style="height:181px">
                    <img ng-src="{{items.images}}">
                </div>
				
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
				<p class="find-txt">FIND OUT MORE</p>
			</div>
			<!-- <div class="col cat">
				<h3>APPLICATION DEVELOPMENT</h3>
				<img src="img/test2.png">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
				<p class="find-txt">FIND OUT MORE</p>
			</div>
			<div class="col cat">
				<h3>APPLICATION MAINTENANCE</h3>
				<img src="img/test2.png">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
				<p class="find-txt">FIND OUT MORE</p>
			</div>
			<div class="col cat">
				<h3>PROGRAMME AND PROJECT MANAGEMENT</h3>
				<img src="img/test2.png">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
				<p class="find-txt">FIND OUT MORE</p>
			</div> -->
		</div>
	</div>

	<div class="full_image2" style="background-image:url({{returnhomeData().image_5[0]}})">
	</div>
	<div class="abt-cont">
        <div class="abt-cont-1">
            <h3>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Loren Ipsup has been the industry
            </h3>
            <p>for more information please contact us at <a href="">info@domainname.net</a></p>
        </div>
    </div>

<!-- 
    ********************************************************************************
    Footer Area
    ********************************************************************************
-->
    <div class="footer about_footer">
        <div class="row row-center">
            <div class="col col-25">
                <img ng-src="{{returnfooterData().top_part.footer_logo}}">
            </div>
            <div class="col">
                <p>{{returnfooterData().top_part.footer_logo_subtext}}</p>
            </div>
        </div>

        <div class="row row-center footer-bottom">
            <div class="col">
                <ul>
                    <li><b>ABOUT</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>SERVICES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>RESOURCES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>CONTACT US</b></li>
                    <li><span>Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></li>
                    <li>
                        <a href="" class="social-link"><img ng-src="img/linkin-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/google-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/twiter-w.png" alt=""></a>              
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-center">
            <div class="col"><p>{{returnfooterData().last_part.copyright_text}}</p></div>
        </div>
    </div>

  </ion-content>
</ion-view>
