<ion-view view-title="Projects" cache-view="false">
  <ion-content class="Home Projects" ng-hide="!returnprojectsArray()">
    <div class="banner">
        <img ng-src="{{returnprojectsArray().banner[0]}}">
    	<!--img src="img/services_banner.png"-->
    </div>
    <div class="projects">
    	<h3>Projects</h3>
    	<ol>
    		<li>
    			<span>Customer insight and fx trading streaming intelligence</span>
    		</li>
    		<li>
    			<span>Enterprise stress testing data model and visualization</span>
    		</li>
    		<li>
    			<span>Count party credit risk portfolio visualization</span>
    		</li>
    		<li>
    			<span>Wrong way risk and stress sensitivity visualization  </span>
    		</li>
    		<li>
    			<span>Structured finance credit approval and deal management automation</span>
    		</li>
    		<li>
    			<span>Structured finance visualization</span>
    		</li>
    		<li>
    			<span>BCBS239 crisis reporting </span>
    		</li>
    	</ol>
    </div>
          

	<div class="abt-cont">
        <div class="abt-cont-1">
            <h3>
                {{returnfooterData().top_part.footer_top_text_1}}
            </h3>
            <p>{{returnfooterData().top_part.footer_top_text_2}}</p>
        </div>
    </div>
<!-- 
    ********************************************************************************
    Footer Area
    ********************************************************************************
-->
    <div class="footer about_footer">
        <div class="row row-center">
            <div class="col col-25">
                <img ng-src="{{returnfooterData().top_part.footer_logo}}">
            </div>
            <div class="col">
                <p>{{returnfooterData().top_part.footer_logo_subtext}}</p>
            </div>
        </div>

        <div class="row row-center footer-bottom">
            <div class="col">
                <ul>
                    <li><b>ABOUT</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>SERVICES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>RESOURCES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>CONTACT US</b></li>
                    <li><span>Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></li>
                    <li>
                        <a href="" class="social-link"><img ng-src="img/linkin-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/google-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/twiter-w.png" alt=""></a>              
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-center">
            <div class="col"><p>{{returnfooterData().last_part.copyright_text}}</p></div>
        </div>
    </div>

  </ion-content>
</ion-view>

