<ion-view view-title="Resources" cache-view="false">
  <ion-content class="Resources" ng-hide="!returnresourcesData()">

            <div class="banner">
                <img ng-src="{{returnresourcesData()[0].banner}}">
            </div>

    <div class="resources-list">
        <h3>{{accordianHeader}}</h3>
        <span id="click_advance"><i class="icon ion-arrow-down-b"></i></span>
    </div>
    <div id="display_advance">
        <p ng-repeat = "items in returnresourcesData() track by $index" ng-class="{ 'used': $index == selectedIndex }" ng-click="passSelect(items.name, $index)">{{items.name}}</p>

        <!-- <p ng-class="{ 'used': 1 == selectedIndex }" ng-click="passSelect('Category Loren Ipsum 02', 1)">Category Loren Ipsum 02</p>

        <p ng-class="{ 'used': 2 == selectedIndex }" ng-click="passSelect('Category Loren Ipsum 03', 2)">Category Loren Ipsum 03</p> -->
    </div>
<!-- End of Of Div Resources menu-->

    <div class="tab-first services">
        <h4>{{accordianHeader}}</h4>
    	<div class="row">
        	<div class="col col-33">
        		<div class="abt cat">
        			
        			<h3>
						dummy text of the printing and typesetting industry</h3>
					
        		</div>
        	</div>
            <div class="col col-10">
                
            </div>
        	<div class="col cat-details" id="">
        		<div class="row" ng-repeat = "items in test2 track by $index">
        			<div class="col col-90">
						<p >{{items.content}}</p>
                        <a href="{{items.pdf_link}}"><button class="button btn-craell">PDF LINK</button></a>
        			</div>
                    <div class="col col-10">
                        <a href="{{items.external_link}}"><img src="img/arrow.png"></a>
                    </div>
                    <hr>
        		</div>
                
        		
            </div>
        </div>
    </div>

   <div class="abt-cont">
        <div class="abt-cont-1">
            <h3>
                {{returnfooterData().top_part.footer_top_text_1}}
            </h3>
            <p>{{returnfooterData().top_part.footer_top_text_2}}</p>
        </div>
    </div>
<!-- 
    ********************************************************************************
    Footer Area
    ********************************************************************************
-->
    <div class="footer about_footer">
        <div class="row row-center">
            <div class="col col-25">
                <img ng-src="{{returnfooterData().top_part.footer_logo}}">
            </div>
            <div class="col">
                <p>{{returnfooterData().top_part.footer_logo_subtext}}</p>
            </div>
        </div>

        <div class="row row-center footer-bottom">
            <div class="col">
                <ul>
                    <li><b>ABOUT</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>SERVICES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>RESOURCES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>CONTACT US</b></li>
                    <li><span>Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></li>
                    <li>
                        <a href="" class="social-link"><img ng-src="img/linkin-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/google-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/twiter-w.png" alt=""></a>              
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-center">
            <div class="col"><p>{{returnfooterData().last_part.copyright_text}}</p></div>
        </div>
    </div>
  </ion-content>
</ion-view>
