<ion-view view-title="Services" cache-view="false" >
    <ion-content class="s Services" ng-hide="!returnserviceData()">
    		<div class="banner">
                <img ng-src="{{returnserviceData().banner[0]}}">
                <h2>{{returnserviceData().excerpt[0]}}</h2>
            </div>

    <div class="resources-list">
        <h3>{{accordianHeader}}</h3>
        <span id="click_advance"><i class="icon ion-arrow-down-b"></i></span>
    </div>
    <div id="display_advance">
        <p ng-class="{ 'used': 0 == selectedIndex }" ng-click="passSelect('Services Loren Ipsum 01', 0)">Services Loren Ipsum 01</p>

        <p ng-class="{ 'used': 1 == selectedIndex }" ng-click="passSelect('Services Loren Ipsum 02', 1)">Services Loren Ipsum 02</p>

        <p ng-class="{ 'used': 2 == selectedIndex }" ng-click="passSelect('Services Loren Ipsum 03', 2)">Services Loren Ipsum 03</p>
    </div>
<!-- End of Of Div Services menu-->
 
    <div class=" tab-first services">
    	<h4>{{returnserviceData().title_1[0]}}</h4>
    	<div class="row tab-first">
    	
    	<div class="col col-50">
    		
    		<div class="abt cat">
		          <h3 style="color:#eb1d35">{{returnserviceData().text_1[0]}}</h3>

			</div>
    	</div>
    	<div class="col col-10"></div>
    	<div class="col">
    		<div class="abt-aside">
    			<p > {{returnserviceData().text_2[0]}}</p>
								<br><br>
    			<a href="{{returnserviceData().button_link_1[0]}}"><button class="button btn-craell">{{returnserviceData().button_text_1[0]}} </button></a>
    		</div>
    	</div>
    </div>
    </div>

    <div class="row" style="padding:0px">
		<div class="ionTabs" id="tabs_1" data-name="Tabs_Group_name">
		    <ul class="ionTabs__head">
		        <li class="ionTabs__tab" data-target="BENEFITS">{{returnserviceData().title_3[0]}}</li>
		        <li class="ionTabs__tab" data-target="FEATURES">{{returnserviceData().title_4[0]}}</li>
		    </ul>
		    <div class="ionTabs__body">
		        <div class="ionTabs__item tab-first" data-name="BENEFITS">
		        	<h4>{{returnserviceData().title_3[0]}}</h4>
		        	<div class="row" style="margin-bottom:50px;">
		            	
		            	<div class="col col-33">
		            		
		            		<div class="abt cat">
		            			<h3>
									{{returnserviceData().text_3[0]}}</h3>
		            		</div>
		            	</div>
		            	<div class="col col-10">
		            	</div>
		            	<div class="col cat-details">
		            		<div class="row" ng-repeat="items in returnbenefitsArray() track by $index">
		            			<div class="col col-10">
			                        <img src="img/arrow.png" style="margin-top:0px">
			                    </div>
			        			<div class="col col-90">
			        				<h3>{{items.title}}</h3>
									<p >{{items.content}}</p>
			        			</div>
			                    
			        		</div>
			                
		            	</div>
		            </div>

		        </div>
		        <div class="ionTabs__item tab-first" data-name="FEATURES">
		        	<h4>{{returnserviceData().title_4[0]}}</h4>
		            <div class="row" style="margin-bottom:50px;">
		            	
		            	<div class="col col-33">
		            		
		            		<div class="abt cat">
		            			<h3>
									{{returnserviceData().text_4[0]}}</h3>
								
		            		</div>
		            	</div>
		            	<div class="col col-10">
		            	</div>
		            	<div class="col cat-details">
		            		<div class="row" ng-repeat="items in returnfeaturessArray() track by $index">
		            			<div class="col col-10">
			                        <img src="img/arrow.png" style="margin-top:0px">
			                    </div>
			        			<div class="col col-90">
			        				<h3>{{items.title}}</h3>
									<p >{{items.content}}</p>
			        			</div>
			                    
			        		</div>
			                
		            	</div>
		            </div>
		        </div>

		        <div class="ionTabs__preloader"></div>
		    </div>
		</div>
    </div>


<!-- 
<div class="row" style="padding:0px">
        <div class="ionTabs" id="tabs_1" data-name="Tabs_Group_name">
            <ul class="ionTabs__head">
                <li class="ionTabs__tab" data-target="BENEFITS">FIXED</li>
                <li class="ionTabs__tab" data-target="FEATURES">FIXED</li>
            </ul>
            <div class="ionTabs__body">
                <div class="ionTabs__item tab-first" data-name="BENEFITS">
                    <h4>FIXED</h4>
                    <div class="row" style="margin-bottom:50px;">
                        
                        <div class="col col-33">
                            
                            <div class="abt cat">
                                <h3>
                                    FIXED</h3>
                            </div>
                        </div>
                        <div class="col col-10">
                        </div>
                        <div class="col cat-details">
                            <div class="row">
                                <div class="col col-10">
                                    <img src="img/arrow.png" style="margin-top:0px">
                                </div>
                                <div class="col col-90">
                                    <h3>FIXED</h3>
                                    <p >FIXED</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="ionTabs__item tab-first" data-name="FEATURES">
                    <h4>FIXED</h4>
                    <div class="row" style="margin-bottom:50px;">
                        
                        <div class="col col-33">
                            
                            <div class="abt cat">
                                <h3>
                                    FIXED</h3>
                                
                            </div>
                        </div>
                        <div class="col col-10">
                        </div>
                        <div class="col cat-details">
                            <div class="row">
                                <div class="col col-10">
                                    <img src="img/arrow.png" style="margin-top:0px">
                                </div>
                                <div class="col col-90">
                                    <h3>FIXED</h3>
                                    <p >FIXED</p>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="ionTabs__preloader"></div>
            </div>
        </div>
    </div> -->


    <div class="service_image" style="background-image:url({{returnserviceData().image_2[0]}})">
        <h3>{{returnserviceData().text_service_2[0]}}</h3>
	</div>

    <div class="abt-cont">
        <div class="abt-cont-1">
            <h3>
                {{returnfooterData().top_part.footer_top_text_1}}
            </h3>
            <p>{{returnfooterData().top_part.footer_top_text_2}}</p>
        </div>
    </div>
<!-- 
    ********************************************************************************
    Footer Area
    ********************************************************************************
-->
    <div class="footer about_footer">
        <div class="row row-center">
            <div class="col col-25">
                <img ng-src="{{returnfooterData().top_part.footer_logo}}">
            </div>
            <div class="col">
                <p>{{returnfooterData().top_part.footer_logo_subtext}}</p>
            </div>
        </div>

        <div class="row row-center footer-bottom">
            <div class="col">
                <ul>
                    <li><b>ABOUT</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>SERVICES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>RESOURCES</b></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                    <li><p>Lorem Ipsum is simply</p></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><b>CONTACT US</b></li>
                    <li><span>Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span></li>
                    <li>
                        <a href="" class="social-link"><img ng-src="img/linkin-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/google-w.png" alt=""></a>
                        <a href="" class="social-link"><img ng-src="img/twiter-w.png" alt=""></a>              
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-center">
            <div class="col"><p>{{returnfooterData().last_part.copyright_text}}</p></div>
        </div>
    </div>
  </ion-content>
</ion-view>
