<ion-view view-title="Start Screen" cache-view="false">
  <ion-content class="Start_screen">
  
  <div class="body_content">
  		<img src="img/Logo.png">
  		<a href="#/home"><button class="button button-assertive">LAUNCH APPLICATION</button></a>

  </div>
  
  </ion-content>
</ion-view>
