/* Empty. Add your own CSS if you like */
/*Index start*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html{
  margin-bottom: 20px;
}
*{
  font-family: 'Open Sans', sans-serif;
}
body
{
   font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Montserrat', sans-serif;
}

a{
  color: white;
  text-decoration: none;
}




/*Menu Style*/
.menu-bar-open li ul{
  display:block;
  -webkit-animation-name: slideInLeft;
  -moz-animation-name: slideInLeft;
  -ms-animation-name: slideInLeft;
  -o-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.header_body
{
  background: #302e2f !important;
  background-image: none;
  padding:0px;
}

.icon.ion-navicon-round
{
  width: 20px;
  position: relative;
  top: 7px;
  font-size: 22px;
  left: 15px;
}


.menu-bar
{

  position:relative;
  width:250px;
  
  height: 100vh;
  top:44px;
}

.menu-bar .icon-list{
  padding: 3% 0px 0px 15px;
}
.menu-bar .icon-list a{
  font-size: 14px;
  padding-bottom: 12px;
  color:#000;
}
.menu-bar .icon-list a.top-menu img
{
  margin-left: 0px;
  margin-right: 15px;
}
.menu-bar .icon-list a.top-menu 
{
  display: inline-block;
  width: 100%;

}

.menu-bar .icon-list a img
{
  margin-left: 15px;
  vertical-align: middle;
  width: 12px;
}
/*/*.menu-bar li ul
{
  display:none;
  position:absolute;
  background:white;
  top:100%;
  bottom:0;
  width: 100%;
  height: 100vh;
  right: 5px;
  color: black;
  padding-top: 10px;
}
.menu-bar li a{
  font-size: 14px;
}

.menu-bar li ul li{
  padding-bottom: 12px;

}

.menu-bar li ul li a.top-menu img
{
  margin-left: 0px;
  margin-right: 15px;
}
.menu-bar li ul li a.top-menu 
{
  display: inline-block;
  width: 100%;
  padding: 5px 0px;
}

.menu-bar li ul li img
{
  margin-left: 15px;
  vertical-align: middle;
  width: 12px;
}


.menu-bar li ul li a{
    color: #4b4d51;
    margin-left: 15px;
    vertical-align: middle;
    font-weight: 600;
}

.menu-bar-open li ul
{
	display:block;
  top: 39px;
  font-size: 8px;
  padding: 16px 8px;
}*/




.menu-bar .bottom-menu{
  position: relative;
  top:39vh;
  
}
.menu-bar .language{
  border-bottom:1px solid #e7e7e7;
  text-align: center;
  padding-bottom:10px;
}
.menu-bar .bottom-menu p{
  font-size:12px;
  text-transform: uppercase;
}
.menu-bar .bottom-menu select, .bottom-menu select option{
  width:90%;
  -webkit-background-color: transparent;
  background-color: transparent;
  font-size: 12px;
}
.menu-bar .bottom-menu select{
  border:1px solid #e7e7e7;
  height:35px;
}
.menu-bar .social{
  text-align: center;
  padding-bottom:10px;
  margin-top: 20px;
}
.menu-bar .social a{
  margin-left:0px !important;
  margin-right:10px;
  font-size:16px;
  background-color: red;
  color: #fff !important;
  border-radius: 5px;
  display: inline-block;
}
.menu-bar .social a.linkin{
  padding: 3px 7px;
}
.menu-bar .social a.google{
  padding: 3px 5px;
}
.menu-bar .social a.twiter{
  padding: 3px 5px;
  margin-right:0px;
}

.menu-bar .search-modal .icon
{
  font-size: 22px;
}

.cross
{
    position: absolute;
    bottom: 0;
    font-size: 100px;
    text-align: center;
    width: 100%;
    height: 88px;
}

.cross p
{
    display: inline-block;
    font-weight: lighter;
    color: #B9B9B9;
}

.modal-view
{
  background-color: rgba(255, 255, 255, 0.9);
  top: 0; 
   right: 0;
    bottom: 0;
    left: 0; 
    min-height: 100%;
    width: 100%;

}
/*Menu Style*/



/*General style*/
.header_body
{
  background: #302e2f !important;
  background-image: none;
}


.icon.ion-navicon-round{
  width: 20px;
  position: relative;
  top: 7px;
  font-size: 22px;
  left: 15px;
}


.bar .logo-title{

  margin: 0 auto;
  width: 120px;
  height: auto;
  top: 20px;

}
.search_area 
{
  position:absolute;
  right:5px;

  margin-top: 10px;
}
.search_area a{
  font-size: 25px;
  margin-right:20px;
}

.view-container 
{
    top: 44px;
}
/*General style*/

/* Home Page Style */
.Home .banner img{
  width: 100%;
  display: block;
}

.banner{
  position:relative;
  padding-top: 20px;
  height: 500px;
  overflow: hidden;
}

.banner h2{
     position: absolute;
    left: 1%;
    width: 550px;
    top: 45%;
    font-size: 38px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}


.Home img{
  width: 100%;
}

.home-slide{
  background: #eb1d35;
  padding: 0px;
  border: none;
  min-height: 175px;
}
.Home .home-slide{
   width: 50%;
    display: inline-block;
    float: left;
}
.Home .home-slide img.slide-image{
  width: 50%;
    float: left;
    height: 224px;
}
.owl-carousel .owl-item img.slide-image{
      width: 49%;
    float: left;
    height: 200px;
    margin-right: 5px;

}

.home-carasol .owl-controls{
  display: inline-block;
  position: absolute;
  top: 0;
}
/* Home Page Style */

/* About Us Page Style */

.about_footer.footer
{
  margin-bottom: 15px;
}

.ionTabs {
    width: 100%;
}
.ionTabs__head {
    border-bottom: 1px solid #cecece;
}
.ionTabs__tab.ionTabs__tab_state_active {
    padding: 20px 25px;
    background: #fff;
    color: #eb1d35;
    
    border-top-color: transparent;
    border-bottom: 2px solid #d71410;
}
.ionTabs__tab {
    background: transparent;
     border: none;
    padding: 0px; 
    margin-right: 0px;
    color: #9f9e9e;
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 33.33%;
    padding: 21px 25px;
}
.ionTabs__body {
    background: #fff;
    border: none;
    border-top: none;
        margin-top: 80px;
}
.ionTabs__item {
     padding: 0px;
}
.tab-first h4{
  padding-left: 30px;
    font-size: 16px;
    color: #979797;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin:25px 0px;
}
.abt{
      padding: 0px 15px;
}

.abt h4{
  padding-left: 0;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.abt h3{
    font-size: 32px;
    color: #eb1f37;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}
.btn-craell{
  border: 1px solid #eb1f37;
  color: #eb1f37;
  text-transform: uppercase;
}
.btn-craell-green{
  border: 1px solid #8dc640;
  color: #8dc640;
  text-transform: uppercase;
}

.abt-aside {
    padding-right: 15px
}
.abt-aside p{
    font-size:15px;
    color:#000000;
    font-family: 'Montserrat', sans-serif;
}

.abt-banner{
  background-color: #111;
  width:100%;
  height:500px;
  position: relative;
}
.abt-banner h3{
  font-size: 36px;
    line-height: 44px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    -moz-transform: translate(-50%,-50%); /* Safari */
    -o-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
    width: 90%;
}
.abt-cont{
  width:100%;
  height:300px;
  position: relative;
  clear:both;
}
.abt-cont-1{
  position: absolute;
  top: 50%;
  left:50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    -moz-transform: translate(-50%,-50%); /* Safari */
    -o-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
    width: 90%;
    margin: 0 auto;

}

.abt-cont h3{
  color: #eb1f37;
  font-size: 28px;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.abt-cont p, .abt-cont p a{
  color: #979797;
  font-size: 16px;
    line-height: 44px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.mission-head h3{
  font-size: 24px;
    line-height: 44px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    padding: 15px;
}
.mission-vission{
  overflow: hidden;
  background-color: gray;
}
.mission,.vission{
      
    background-size: cover;
  width:50%;
  display: inline-block;
  height:450px;
  float:left;
  position: relative;
}

.mission-txt{
 position: absolute;
  top: 50%;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    -moz-transform: translate(0,-50%); /* Safari */
    -o-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
        padding: 15px;
}
.mission h3, .vission h3,.mission h4, .vission h4 {
  color:#fff;
}

.profile-name p, .profile-name span{
  color: #000;
  font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.profile-name span{
  color: #979797;
  text-transform: uppercase;
}
/* About Us Page Style */

/* Service and Category Page Style */
.services{
  margin-bottom:0px;
  padding-top:50px;
  padding-bottom: 50px;
  background: #f7f7f7;
}

.cat h3, .cat p,.cat h4{
  color:#000;
}
.cat h4{
margin:0px 0px 25px 0px;
color:#979797;
}

.cat .input-label {
    display: table;
    padding: 15px 10px 3px 0px;
    max-width: 200px;
    width: 35%;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:15px;
}

.sam-m .input-label{

  margin-bottom:0;
}
.cat p{
      font-size: 16px;
    font-weight: bold;
}
.cat span{
      font-size: 14px;
    color:#979797;
}
.cat span.email{
    font-weight: bold;
    color:#000;
}
.cat span.email a{
    color:#eb1f37;
}
.cat-details h3{
    color:#eb1f37;
    font-weight:bold;
    font-size:22px;
}

.cat-details p{
    color:#000;
    font-weight:bold;
}

.cat-details img{
    margin-top:15px;
}

.resources-list{}

.resources-list h3{
  display: inline-block;
  width: 90%;
  background: #eb1f37;
  padding: 15px 30px;
  margin:0;
  color:#fff;
}

.resources-list span{
  background: #000;
  color:#fff;
  width:10%;
  display: inline-block;
  float: right;
  text-align: center;
  border-left: 1px solid #fff;
  padding: 19px;
}
#display_advance p:first-child{
  margin-top:30px;
}
#display_advance p{
  font-size: 16px;
  color:#4c4d51;
  margin-bottom:30px;
  padding-left:30px;
}
#display_advance p.used{
  color:#bdbfc3;
}

/*Home Start*/
.Home .banner{
  width:100%;
  height: 500px;
  overflow: hidden;
}
.banner img{
  width: 100%;
  display: block;
}

.banner img
{
  width:100%;
  height:500px;
}
.Home .products img{
  width:23px;
  height:23px;
}
.products{
  color:#fff;
  width:49%;
  float:left;
  padding: 11px 14px;

}
.products h3{
  font-size: 22px;
  line-height: 24px;
  color:#fff;
  margin-bottom: 10px;
  margin-top: 10px;
}
.products p{
  font-size: 14px;
  color:#fff;
}

.Home .slider .col-50
{
  background: #eb1f36;
}

.Home .slider .row , .Home .slider .col
{
  padding: 0;
  margin: 0;
}

.Home .slider .slider-pager,  .Careers .slider .slider-pager,  .Aboutus .slider .slider-pager, .Contactus .slider .slider-pager, .Resources .slider .slider-pager, .Services .slider .slider-pager
{
    position: absolute;
    bottom: 60px;
    z-index: 1;
    width: 8%;
    height: 15px;
    text-align: center;
}

.Home .slider .slider-pager .slider-pager-page, .Careers .slider .slider-pager .slider-pager-page, .Aboutus .slider .slider-pager .slider-pager-page, .Contactus .slider .slider-pager .slider-pager-page, .Services .slider .slider-pager .slider-pager-page, .Resources .slider .slider-pager .slider-pager-page        
{
    width: 4px;
    color: white;
    margin-right: 10px;

}

.Home .slider .slider-pager i, .Careers .slider .slider-pager i,  .Aboutus .slider .slider-pager i, .Contactus .slider .slider-pager i, .Resources .slider .slider-pager i, .Services .slider .slider-pager i
{
    font-size: 55%;

}



.full_image{
  position: relative;
  width: 100%;
    height: 500px;
    background-image: url("../img/home_full.png"); 
    background-repeat: no-repeat;
/*    background-size: 100%;*/
}

.full_image:after {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-background-image: linear-gradient(to bottom right, #717171, #716F6F);
  -webkit-background-image: linear-gradient(to bottom right, #717171, #716F6F);
  -ms-background-image: linear-gradient(to bottom right, #717171, #716F6F);
  -0-background-image: linear-gradient(to bottom right, #717171, #716F6F);
  background-image: linear-gradient(to bottom right, #717171, #716F6F);
  opacity: .6;
}


.full_image h3{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    -moz-transform: translate(-50%,-50%); /* Safari */
    -o-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
    z-index: 1213;
    
}

.service_image{
  position: relative;
  width: 100%;
    height: 350px;
    background-image: url("../img/earth.png"); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.service_image h3{
      font-size: 20px;
    font-weight: bold;
    color: #fff;
    width: 50%;

    position: absolute;
    top: 50%;
    left: 49%;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    -moz-transform: translate(0,-50%); /* Safari */
    -o-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
    z-index: 1213;
}
.Home .full_image2
{
    width: 100%;
    height: 445px;
    
    background-image: url('../img/home_full2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    margin:50px 0px 0px;
}

.Home .our_services img
{
  width: 100%;
}
.Home .our_services h4
{
    color: #eb1f36;
    margin: 50px 0px;
    font-size: 24px;
    font-weight: bold;
}
.Home .our_services h3
{
    min-height: 25px;
    display: block;
    color: #eb1f36;
    font-size: 19px;
    font-weight: bold;

}
.Home .our_services p
{
    color:#979797;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Home .our_services p.find-txt
{
     color: #eb1f36;
     border-top: 1px solid #eb1f36;
     display: inline-block;
     padding-top: 5px

}
.find_more
{
    text-align: center;
    padding: 30px 10px;
    clear: both;

}

.find_more h3
{
    color: #eb1f36;
    width: 90%;
    margin: 0 auto 30px;
}

.find_more p
{
    font-size: 10px;
    width: 60%;
    text-align: center;
    margin: 0 auto 30px;
    font-family: 'Montserrat', sans-serif;
}

.find_more a
{
    color: red;
}

.find_more p:nth-of-type(2)
{
    color: #eb1f36;
}
/* Services start */


.Services .banner img
{
  width: 100%;
  display: block;
} 

.Services .full_image img
{
  width: 100%;
  display: block;
} 

/*Contact us start*/

.contact_text p
{
  width: 95%;
}

.enquiry_field
{
    padding: 5px 5px;
    padding-right: 90px;
    position: relative;
    bottom: 59px;    
}

.enquiry_field .border{
    position: relative;
    bottom:10px;
}


.enquiry_field .item-input
{
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.enquiry_field label:nth-of-type(1), .enquiry_field label:last-child
{
    border: 0;
}

.enquiry_field textarea
{
    border: 1px;
    border-color: #ddd;
    border-style: solid;
    width: 100% !important;
    height: 125px !important;
    padding: 10px;
}




.enquiry_field button
{
    color: white;
    background-color: #eb1f36;
    margin-top: 20px;
    border-radius: 0;

}

.enquiry_field .button:hover {
    color: white;
    background-color: #eb1f36;
}

.enquiry_field .button.active, .enquiry_field .button.activated{
    color: white;
    background-color: #FF8391;
}

.accordian_div .item
{
 
    border: 0;
    background-color: transparent !important;
    border-bottom: 1px;
    border-style: solid;
}

.accordian_div .item.item-stable
{
 
    border: 0;
    background-color: transparent !important;
    border-bottom: 1px;
    border-style: solid;
}

.accordian_div ion-item i
{
    float: right;
}

.accordian_div .item-accordion
{
    border: 0;
}

.contact-acordian{
  padding: 10px;
}
.contact-acordian, .contact-acordian h1, .contact-acordian h2, .contact-acordian h3, .contact-acordian h4, .contact-acordian h5, .contact-acordian h6, .contact-acordian p,.home-slide, .home-slide h1, .home-slide h2, .home-slide h3, .home-slide h4, .home-slide h5, .home-slide h6, .home-slide p{
  white-space: normal;
}
/* End of Accordian*/
.Start_screen
{
  background-image: url('../img/start_screen.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.body_content
{
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    -moz-transform: translate(-50%,-50%); /* Safari */
    -o-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%);
}

.body_content img
{
    width: 20%;
}


/* Footer Style */

.Home-or, .Contactus, .Careers,.Services, .Resources, .Projects{
  margin-bottom:35px;
}
.footer ul li a,.footer p, .footer b{
  font-family: 'Open Sans', sans-serif;
}
.footer
{
  background: black;
  color: white;
  
}

.about.footer
{
  margin-bottom: 15px;
  
}

.footer .row
{
  padding: 5px 20px;
  border-top: 1px solid #252525; 
}

.footer .col
{
  padding: 28px 15px 18px 0px;
  
}

.footer .row:first-child .col
{
  border:none; 
}

.footer img
{
  width: 66%;
}
.footer a.social-link img{
  width:24px;
  height:24px;
}
.footer a.social-link{
 margin-right: 5px;
}
.footer a.social-link:last-child{
 margin-right: 0px;
}
.footer span,.footer p
{
  font-size: 10px;
  line-height: 20px;
}
.footer .footer-bottom p{
  font-size: 10px;
}
.footer li
{
  line-height: 15px;
}

.footer li:first-child
{
  margin-bottom: 15px;
}

.footer li b
{
  font-size: 10px;
  color: #eb1f36;
}

.footer li p
{
  line-height: 12px;
}

/*project Page*/

.projects{
  margin-left: 30px;
  margin-top: 25px;

}

.projects h3{
  font-size:22px;
  color:#000;
  
}
.projects ol{
  list-style: decimal;
  margin-left:40px;
    list-style: decimal;
    margin-left: 15px;
    color: #000;
    font-size: 16px;
    line-height: 30px;
  
}

@media only screen and (max-width: 768px) {
  .Home .banner, .banner, .banner img {
    height: 385px;
  }
  .landscape-tab, .landscape-tab.ionTabs__tab.ionTabs__tab_state_active{
    padding: 21px 10px;
  }
  
  .ionTabs__tab.ionTabs__tab_state_active {

  }
  .banner h2 {
      top: 40%;
      width: 500px;
      font-size: 34px;
  }
  .Home .slider .slider-pager, .Careers .slider .slider-pager, .Aboutus .slider .slider-pager, .Contactus .slider .slider-pager, .Resources .slider .slider-pager, .Services .slider .slider-pager {

      bottom: 15%;

  }
  .products {
      padding: 0px 10px;
  }
  .products h3 {
      margin-bottom: 3px;
      margin-top: 3px;
  }
  .products p {
      margin-bottom:2px;
  }
  .Home .home-slide img.slide-image {
      height: 185px;
  }

  .full_image {
    height: 385px;
  }
  .Home .full_image2 {
    height: 334px;
  }

  .abt-banner {
    height: 385px;
  }

  .mission, .vission {
    height: 385px;
  }

}

#emailctrl p
{
  color: black;
}

#emailctrl a
{
  text-decoration: none;
  color: red;
}